h1 {
  display: grid;
  justify-content: center;
  color: hsl(0, 0%, 100%);
}

p {
  font-size: 15px;
  display: grid;
  justify-content: center;
  width: 300px;
  text-align: center;
}
a {
  text-decoration: none;
  color: rgb(209, 205, 203);
}

/* div class icons */
.icons {
  margin-top: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
}

li {
  background-color: hsl(213, 19%, 18%);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* div class title */
.title {
  width: 370px;
  display: grid;
  justify-content: center;
  align-items: center;
}
