h1 {
  display: grid;
  justify-content: center;
  color: hsl(0, 0%, 100%);
}

p {
  font-size: 15px;
  display: grid;
  justify-content: center;
  width: 300px;
  text-align: center;
}
a {
  text-decoration: none;
  color: hsl(25, 97%, 53%);
}

/* div class icons */
.icons {
  margin-top: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
}
ul {
  background-color: hsl(210, 4%, 82%);
}
li {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* div class title */
.title {
  width: 370px;
  display: grid;
  justify-content: center;
  align-items: center;
}
