* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* se cambia despues usar la p'lata pedido */
  background-color: hsl(216, 12%, 8%);
  color: hsl(217, 12%, 63%);

  font-size: 15px;

  min-height: 100vh;
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
}

/* section class container */
.container {
  background-color: hsl(213, 19%, 18%);
  width: 375px;
  height: 450px;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 0.6fr;
  /* gap: 30px; */
}

/* div con class icon */
.icon {
  background-color: hsl(217, 7%, 34%);
  border: 1px solid;
  width: 60px;
  height: 60px;
  font-size: 15px;
  display: grid;
  justify-content: center;
  align-items: center;

  margin-top: 30px;
  margin-left: 25px;
  border-radius: 50%;
}

/* div con class cabecera */
.cabecera {
  margin-right: 25px;
  margin-left: 25px;
  display: grid;
}

p {
  font-size: 15px;
}
/* nav contenido */
nav {
  display: grid;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  list-style: none;
}

li {
  background-color: hsl(217, 7%, 34%);
  border: 1px solid;
  width: 60px;
  height: 60px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: aliceblue;
}

/* button */
button {
  color: rgb(209, 205, 203);
  border-radius: 10px;
  border: 0;
  background-color: hsl(25, 97%, 53%);
  width: 260px;
  height: 60px;
  align-items: center;
}
