h1 {
  color: hsl(0, 0%, 100%);
}

p {
  font-size: 15px;
}
a {
  text-decoration: none;
  color: rgb(209, 205, 203);
}

/* div class icons */
.icons {
  margin-top: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
}
li {
    display: flex;
    justify-content: center;
    align-items: center;
}
